body {
	background-image: url('img/crest.png'), url('img/crest.png'), url('img/backgr.jpg');
    background-repeat: no-repeat, no-repeat, repeat;
	margin: 0 auto;
	background-position: top 244px left -312px, bottom 0 right -295px;
	overflow-x: hidden;
}
header {
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
}
.container img {
	margin-top: 1px;
}
.container {
	margin: 0 auto;
	width: 960px;
	display: table;
}
nav {
	float: right;
	margin-top: 18px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    clear: right;
}
nav li {
	float: left;
	display: block;
	margin-left: 5px;
}
.menu {
	margin-top: 14px;
}
.menu li {
	margin-left: 25px;
}
nav li a {
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0 0 0 0;
}
nav li a:hover {
	color: #fff;
}
.slider {
	display: table;
	width: 1200px;
	margin: 0 auto;
}
section {
	width: 960px;
	height: 270px;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	margin-top: 36px;
}
.main {
	float: left;
	text-align: center;
	margin-top: 36px;
}
.visit {
	border: 1px solid #000000;
}
.main h3 {
	font-size: 35px;
	margin-top: 18px;
	font-family: High Tower Text, sample;
	font-weight: normal;
	text-transform: uppercase;
}
.main a {
	text-decoration: none;
	color: #333333;
}
.main a:hover {
	color: #00008B;
}
.main:last-child {
	float: right;
	margin-right: 36px;
}
.main:first-child {
	margin-left: 36px;
}
.main:nth-child(2) {
	margin-left: 82px;
}
.main h2 {
	position: absolute;
    margin: 5px 88px 0 88px;
    font-family: High Tower Text, sample;
	font-weight: normal;
	font-size: 18px;
	color: #333333;
}

legend {
	position: absolute;
	padding-left: 80px;
	font-size: 18px; 
}
fieldset {
	background-color: #e9e8e8;
	border: none;
	padding: 4px 15px 20px;
}
.one-form_row label {
	text-align: left;
	display: block;
	margin-top: 19px;
	font-size: 18px;
}

.one-form_row label, legend, h1, h4, .about, .story, .price, .case, .spec {
font-family: High Tower Text, sample;
font-weight: normal;
}

.one-form_row input {
	width: 100%;
	border: none;
	padding: 6px;
	line-height: 18px;
	box-sizing: border-box;
	box-shadow: 1px 2px 5px 0 rgba(0, 1, 1, 0.23) inset;
}
.wine {
    margin-top: 36px;
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin: 36px auto;
}
.wine_one {
	width: 430px;
	height: 490px;
	background: #2d2d2d;
	color: #fff;
	position: absolute;
	left: 20px;
	top: 20px;
}
.wine_two {
	width: 430px;
	height: 490px;
	background: #2d2d2d;
	color: #fff;
	position: absolute;
	left: 20px;
	top: 20px;
}
h4 {
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.wine_one img {
    width: inherit;
    height: 200px;
}	
.wine_two img {
    width: inherit;
    height: 200px;
}
p {
	margin: 0;
}
.story {
	font-size: 14px;
    padding: 15px 15px 0px;
    line-height: 16px;
}
.price  {
	font-size: 18px;
	padding-left: 17px;
	padding-top: 24px;
}
.case {
	font-size: 18px;
	padding-left: 17px;
	padding-top: 10px;
}
.spec {
	font-size: 18px;
	padding-left: 17px;
	padding-top: 4px;
}
.inwine {
	height: 530px;
	width: 470px;
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.middle {
	display: flex;
	position: relative;
	width: 430px;
	justify-content: space-between;
}
.mid_3 img {
	width: 85px;
	height: 85px;
	margin-right: 40px;
	margin-top: 10px;
}
.mid_2 {
	margin-top: 20px;
}
.mid_2 label {
	margin-right: 10px;
	margin-left: 25px;
	font-family: Neutra Text Demi;
    font-size: 18px;
}
.mid_2 input {
	width: 42px;
	height: 22px;
	font-family: Neutra Text Demi;
	font-size: 18px;
}
h1 {
	font-size: 60px;
	color: #4b4b4b;
	text-transform: uppercase;
	position: absolute;
	line-height: 10px;
}
.discover {
	width: 960px;
	height: 400px;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: space-around;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.delille {
	width: 275px;
	height: 275px;
	margin-top: 95px;
	background-image: url('img/delille.jpg');
}
.grand {
	width: 275px;
	height: 275px;
	margin-top: 95px;
	background-image: url('img/grand.jpg');
}
.doyen {
	width: 275px;
	height: 275px;
	margin-top: 95px;
	background-image: url('img/doyen.jpg');
}
.delille img {
    margin-top: 135px;
    margin-left: 28px; 
}
.grand img {
    margin-left: 28px;
    margin-top: 118px; 
}
.doyen img {
    margin-left: 28px;
    margin-top: 97px;
}

footer {
	height: 211px;
	color: #fff;
	background-color: #2d2d2d;
	width: 1200px;
	margin: 0 auto;
}
.info_centr {
	width: 960px;
	margin: 0 auto;
	display: flex;
	position: relative;
	justify-content: space-between;
}	
.about {
	font-size: 18px;
}
.history li {
	list-style-type: none;
	font-size: 14px;
}
.history li a {
	text-decoration: none;
	color: #fff;
}
ul.history, ul.social {
	margin-left: -40px;
    margin-top: -25px;
}
.social li {
	list-style-type: none;
	position: relative;
}
.icon-fc {
	display: inline-block;
	height: 45px;
	width: 45px;
	background-position: -5px 187px;
	background-image: url('img/sprite23.png');
	margin-right: 15px;
}
.icon-tw {
	display: inline-block;
	height: 46px;
	width: 47px;
	background-image: url('img/sprite23.png');
	margin-right: 15px;
	background-position: -5px 98px;
}
.icon-pin {
	display: inline-block;
	height: 46px;
	width: 47px;
	background-image: url('img/sprite23.png');
	background-position: -5px 1px;
}
.fot_th {
	margin-right: 40px;
} 
.mid_2 p input {
	color: #fff;
	background: #2d2d2d;
	width: 100px;
	border: none;
	margin-top: 14px;
	margin-left: 18px;
}
.fot_one, .fot_two, .fot_th {
	width: 210px;
}
h5 {
	border-bottom: 1px solid #fff;
}
.let_soc {
	font-family: Neutra Text Book, sample;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    top: 15%;
    left: 35%;
}
.phon_soc {
	font-family: High Tower Text, sample;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    left: 35%;
    top: 10px;
}
.icon-letter {
	display: inline-block;
	height: 34px;
	width: 45px;
	margin-top: 9px;
	background-position: -5px;
	background-image: url('img/sprite23.png');
}
.icon-phone {
	display: inline-block;
	height: 43px;
	width: 13px;
	margin-left: 13px;
	background-position: -5px 48px;
	background-image: url('img/sprite23.png');
}

